<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @agent.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @agent.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @agent.last_name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @agent.picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @agent.bio %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agent.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @agent.website %>
</p>

<p>
  <strong>Count click to contact:</strong>
  <%= @agent.count_click_to_contact %>
</p>

<p>
  <strong>Count click to accept:</strong>
  <%= @agent.count_click_to_accept %>
</p>

<p>
  <strong>Count closed:</strong>
  <%= @agent.count_closed %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
