<p id="notice"><%= notice %></p>

<h1>Listing Referrals</h1>

<div class="container">
  <div class="row well">
    <div class="col-md-2">Agent sending</div>
    <div class="col-md-2">Agent receiving</div>
    <div class="col-md-2">Prospect</div>
    <div class="col-md-2">Status</div>
    <div class="col-md-2">Show<br>Edit<br>Delete</div>
    <div class="col-md-2">Adding Referral Index</div>
  </div>
</div>

<div class="container">
  <% @referrals.each_with_index do |referral, index| %>
    <div class="row well">
      <div class="col-md-2">
        <%= referral.agent_sending.first_name %>
        <%= referral.agent_sending.last_name %>
      </div>
      <div class="col-md-2">
        <%= referral.agent_receiving.first_name %>
        <%= referral.agent_receiving.last_name %>
      </div>
      <div class="col-md-2">
        <%= referral.prospect.first_name %>
        <%= referral.prospect.last_name %>
      </div>
      <div class="col-md-2"><%= referral.status %></div>
      <div class="col-md-2">
        <%= link_to 'Show', referral %><br>
        <%= link_to 'Edit', edit_referral_path(referral) %><br>
        <%= link_to 'Delete', referral, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="col-md-2">
        <%= index %>
      </div>
    </div>
  <% end %>
</div>



<br>

<%= link_to 'New Referral', new_referral_path %>
