<p id="notice"><%= notice %></p>

<p>
  <strong>Agent sending:</strong>
  <%= @referral.agent_sending.first_name %>
</p>

<p>
  <strong>Agent receiving:</strong>
  <%= @referral.agent_receiving.first_name %>
</p>



<p>
  <strong>Status:</strong>
  <%= @referral.status %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
