<!DOCTYPE html>
<html>
<head>
  <title>Furl</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 50px;
    }
  </style>


</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		  	<!-- Brand and toggle get grouped for better mobile display -->
		  	<div class="navbar-header">
		   		<a class="navbar-brand" href="<%= root_path %>">fURL</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><%= link_to 'nETWORK', agents_path %></li>
			        <li><%= link_to 'fRIENDS', prospects_path %></li>
			        <li><%= link_to 'rEFERRALS', referrals_path %></li>	        
			      </ul>
			      <form class="navbar-form navbar-left">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search for Agent">
			        </div>
			        <button type="submit" class="btn btn-default">By Zipcode</button>
			      </form>
				<ul class="nav navbar-nav navbar-right"> <!--RIGHT-->
					<% if user_signed_in? %>
				        <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome to fURL!<span class="caret"></span></a>

							<ul class="dropdown-menu">
								<li><a href="#">New Referral</a></li>
								<li role="separator" class="divider"></li>
								<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
							</ul> <!-- dropdown-menu -->
						</li>
					<% else %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Are you a member?<span class="caret"></span></a>

							<ul class="dropdown-menu">
								<li><%= link_to "Sign Up", new_user_registration_path %></li>
								<li><%= link_to "Login", new_user_session_path %></li>
							</ul> <!-- dropdown-menu -->
						</li>
					<% end %>

			    </ul> <!--RIGHT-->

		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>

	<div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


	<%= yield %>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
